.heading-gallery{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$text-color;
    h1{
      font-size: 3.5rem;
      font-family: $Elinato;
    }
    h5{
      font-family: 'Poppins', sans-serif;
    }
    background: $background-color;
}
.hero{
  background: $background-color;
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
 .hero{
    .column {
    flex: 50%;
    max-width: 50%;
  }
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .hero{
    .column {
    flex: 50%;
    max-width: 50%;
  }
  .row{
      padding: 2rem 1.5rem;
  }
}
}